
.vs/
bin/
obj/
Output/*
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/

Thumbs.db
ehthumbs.db
Desktop.ini

packages/

*.publishsettings

.vscode/

*.log

layout.json
